



/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  background-image:url('wallpaperbetter%20(28).jpg');
  color: white;
  background-color:;
}


header {
  background-image:url('');
  color:black;
}
header .row,
footer.row {
  background-color:black;
  background-image:url('');
  color:white;
};

