/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  background-image:url('clark-van-der-beken-mcCAFvlzZFQ-unsplash.jpg');
  color: white;
}


header {
  background-image:url('wallpaper2you_248926.jpg');
  color:white;
}
