@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');



/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  background-image:url('wallpaperbetter(26).jpg');
  color: white;
  background-color:;
}


header {
  background-image:url('wallpaperbetter(27).jpg');
  color:black;
}
header .row,
footer.row {
  background-color:none;
  background-image:url('');
  color:white;
};

